snippet tb "Thomas Balthazar"
Thomas Balthazar
endsnippet

snippet t@ "thomas@balthazar.info"
thomas@balthazar.info
endsnippet

snippet pear "Co-authored-by ys"
Co-authored-by: Yannick Schutz <github@yannickschutz.com>
endsnippet
