# https://docs.helix-editor.com/languages.html
# https://github.com/helix-editor/helix/wiki/Language-Server-Configurations

[[language]]
name = "python"
language-servers = [ "pyright", "ruff" ]

[language-server.pyright.config.python.analysis]
typeCheckingMode = "basic"

[language-server.ruff]
command = "ruff"
args = ["server"]
