snippet fgc
	FactoryGirl.create(:${1:factory_name})

snippet fgb
	FactoryGirl.build(:${1:factory_name})

snippet iv
	#{${1:var_name}}${2}

snippet [
	[${1:key_name}]${2}

snippet params
	params[:${1:key_name}]${2}
