snippet fgc "FactoryGirl.create"
FactoryGirl.create(:${1:factory_name})$2
endsnippet

snippet fgb "FactoryGirl.build"
FactoryGirl.build(:${1:factory_name})$2
endsnippet

snippet fga "FactoryGirl.attributes"
FactoryGirl.attributes(:${1:factory_name})$2
endsnippet
