[Unit]
Description=i3lock
Before=sleep.target

[Service]
User=tb
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/i3lock -c 1f222d

[Install]
WantedBy=sleep.target
